#info-teja {  
  
  background-position:top left no-repeat;
  height:35px;
  font:11px Arial;
  color:#eee;
  border-radius: 15%;
}

#info-teja{
  -o-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  width:50px;
} 
#info-teja:hover{
  width:300px;
  opacity:1.0;
  margin:0;
}

.Tejainbox2 {
  margin:10px 10px;
  color:#FFFFFF;
  overflow:hidden;
  }

.teja15 {
  color: white;
  border-radius:15px; 
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
}

.Tejainbox2 h2 { font: 18px Droid Serif;
  font-weight:bold;
  padding:0 8px;
  color: #fffff;
  text-shadow: 0px 1px 1px #ddd;
  border-bottom: 1px solid #000000;
}

.Tejatouch {
  font-size:21px;
  font-weight:bold;
  font-family:Arial Narrow;
  float:left;
  margin: 3px 10px 0 0;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  text-decoration:blink;
}

.Tejatouch:hover{
  -o-transform: scale(2) rotate(720deg) translate(0px);
  -moz-transform: scale(2) rotate(720deg) translate(0px);
  -webkit-transform: scale(2) rotate(720deg) translate(0px);
  color: #fffff;
}