.tempat-cari {
		position: absolute;
		margin-left: 35%;
		margin-top: 15%
		transform: translate(-50%, -50%);
		background: #2f3640;
		height: 40px;
		border-radius: 40px;
		width: 240px;
		padding: 0 6px;
	}


	.cari{
		font-size: 30px;
	}

	.cari {
		border: transparent;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: white;
		font-size: 16px;
		transition: 0.4s;
		align-items: center;
		height: 40px;
		font-weight: bold;
	}

	.image1{
		width: 25px;
		height: 25px;
	}

	.btn-white{
		border-radius: 40px;
		background-color: #2f3640;
	}

	.btn-white:hover{
		background-color: white;
	}